.page {
    padding-top: 36px;
    display: flex;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    /* background-color: #f9f9f9; */
    /* background-image: url('E:\csves-platform\front_work\front\src\assets\background0.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    font-family: sans-serif; */
  }